.hide {
  display: none;
}
.crudFormTable {
  width: 100%;
}
.crudFormTable th {
  width: 200px;
  text-align: right
}
.crudFormTable input, .crudFormTable select, .crudFormTable textarea {
  width: 350px
}
.crudFormTable .crudCheckbox {
  width: auto
}
.crudFormTable .formatInEditableList {
  width: 300px
}
.crudFieldContainer textarea {
  height: 100px;
}
.crudBtns {
  white-space: nowrap;
}
.fileIframe {
  position: absolute;
  left: -2000px; top: 0;
}
.uploadImageBtn, .uploadFileBtn {
  margin-bottom: 5px;
}
.crudReport {
  width: 100%;
  border-collapse: collapse;
}
.crudReport, .crudReport th, .crudReport td {
  border: 1px solid #000;
}
.crudReport caption {
  font-weight: bold;
  font-size: 1.1em
}
.crudReport td {
  padding: 0 5px;
}
.crudReport .trEven {
  background: #E6E6E6;
}
.crudModules, .logoutButton {
  display: inline;
  position: relative;
}
.crudMenu {
  display: none;
  z-index: 1;
  margin-top: 25px;
  width: 200px;
  position: absolute;
  left: 0; top: 0;
}
.formatImageRemove, .formatFileRemove {
  float: left;
  height: 2.4em;
  margin: 0 -2.4em -16px 0;
}
.menu .crudBtns .objectEditBtn {
  position: relative;
}
.menu .crudBtns,
.contactsPhone .crudObjectBtn,
.footerContacts .crudObjectBtn,
.bannerButtons .crudObjectBtn {
  position: absolute;
  right: 0; bottom: 0;
}
.submenu .crudBtns {
  position: static;
}
.imageViewPlace img, .fileViewPlace img {
  max-width: 354px;
}
.crudChildsPlace {
  position: relative;
  display: inline;
}
.crudChilds {
  position: absolute;
  left: 0; top: 100%;
  margin-top: 10px;
  z-index: 1;
}
.mwcmsService {
  position: fixed;
  left: 0; top: 0;
  z-index: 1;
}