{
  "db":{
    "host" : "localhost",
    "user" : "root",
    "pass" : "111",
    "db"   : "test"
  },
  "debug"      : "1",
  "orderEmail" : "test@mail.ru",
  "adminEmail" : "test@mail.ru"
}