{
  "rubrics":{
    "name"    : "name",
    "search"  : ["name"]
  },
  "goods":{
    "name"    : "name",
    "search"  : ["name", "description"]
  },
  "texts":{
    "name"    : "name",
    "search"  : ["name", "text"]
  },
  "menu":{
    "name"    : "name",
    "search"  : ["name"]
  },
  "news":{
    "name"    : "name",
    "search"  : ["name", "desc", "text"]
  }
}