{
  "users":{
    "caption" : "Пользователи",   /* название таблицы */
    "id"      : "id",             /* ID поля, обязательный параметр */
    "begins"  : 100,              /* начало отсчета для поля autoincrement, НЕ обязательный параметр */
    "system"  : 1,                /* является ли таблица системной, т.е. в ее редактировании пользователь не задействован, НЕ обязательный параметр */
    "addable" : 0,                /* разрешено ли добавлять элементы в таблицу, НЕ обязательный параметр, по умолчанию 1 */
    "order"   : "sort",           /* поле для сортировки, НЕ обязательный параметр */
    "fields"  : {                 /* список полей */
      "id":{                      /* идентификатор поля */
        "name"     : "id",        /* идентификатор поля, обязательный параметр */
        "caption"  : "ID",        /* название поля, обязательный параметр */
        "type"     : "int",       /* тип поля, может быть: [bool, int, string, text, password, files], обязательный параметр */
                                  /* при создании нового типа поля следует создать методы _in_type и _out_type в классе format */
        "hidden"   : 1,           /* показывать ли пользователю поле в форме редактирования, НЕ обязательный параметр, по умолчанию 0 */
        "required" : 1,           /* является ли поле обязательным для заполнения в форме редактирования, НЕ обязательный параметр, по умолчанию 0 */
        "editable" : 0,           /* доступно ли поле для редактирования, НЕ обязательный параметр, по умолчанию 1 */
        "default"  : "now()",     /* значение по умолчанию, определяется для базы данных и для новых элементов в форму добавления, НЕ обязательный параметр */
        "preform"  : {            /* обработка значения перед сохранением объекта в базу данных, НЕ обязательный параметр */
          "type"   : "link",      /* функция для обработки, обязательный параметр для данного блока */
          "target" : "name"       /* НЕ обязательный параметр. В данном блоке указывает из чего формировать ссылку */
        }
      },
      "parent_id":{
        "name"     : "parent_id",
        "caption"  : "Родитель",
        "type"     : "int",
        "default"  : 0,
        "format":{                /* описание дополнительного форматирования поля, НЕ обязательный параметр */
          "type"     : "list",    /* тип дополнительного форматирования, может быть: [list, enum], обязательный параметр для данного блока */
                                  /* при создании нового типа доп. форматирования следует создать методы _in_[type] и _out_[type] в классе format */
          "table"    : "rubrics", /* таблица для выборки элементов для списка, обязательный параметр для данного типа доп. форматирования */
          "id"       : "id",      /* ID поля в таблице для выборки элементов для списка, обязательный параметр для данного типа доп. форматирования */
          "name"     : "name",    /* Название поля в таблице для выборки элементов для списка, обязательный параметр для данного типа доп. форматирования */
          "except"   : "id:id",   /* Исключение из выборки элементов при совпадении полей [ID_элементов_rubrics:ID_поля_users], НЕ обязательный параметр */
          "editable" : 1,         /* является ли список редактируемым, НЕ обязательный параметр, по умолчанию 0 */
          "values"   : ["test1","test2"] /* список значений для типа форматирования enum, обязательный параметр для enum форматирования */
        }
      }
    },
    "data":{                      /* список строк таблицы, при создании таблицы */
      "admin":{                   /* любой идентификатор */
        "id"        : "1",        /* название поля и его значение */
        "parent_id" : "0"
      }
    }
  }
}